layout: index__white
name: Fazer Parte
---
section.fazerparte-dpt
    .fazerparte-dpt__block(style="background: url('/assets/images/item/dinc.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--dinc
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 DINC
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento de iniciação, o primeiro passo para você que aceitou à Cristo como Salvador. 
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/ensino.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--ensino
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 EBD
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento focado no estudo da Palavra de Deus em sua essência. 
            
        // .fazerparte-dpt__block__container__button
          a(href="/fazer-parte/ensino").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/familia.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--familia
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Família
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento voltado para família tradicional e os princípios bíblicos fundamentais para sua preservação.
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/interligados.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--interligados
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Interligados
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento de adolescentes
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/interligadoskids.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--interligadoskids
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Interligados Kids
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento infantil
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/juventude.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--juventude
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Juventude
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento de jovens
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/mulhervitoriosa.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--mulhervitoriosa
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Mulher Vitoriosa
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/musica.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--musica
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Musica
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/obreiro.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--obreiros
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Obreiros
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/renovo.png');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--renovo
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Renovo
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento que auxilia a libertação do homossexualismo
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/socioambiental.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--socioambiental
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Socioambiental
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento responsável pela assitência social
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fazerparte-dpt__block(style="background: url('/assets/images/item/surdos.jpg');")
      .fazerparte-dpt__block__overlay.fazerparte-dpt__block__overlay--surdos
      .fazerparte-dpt__block__container
        .fazerparte-dpt__block__container__infos
          .fazerparte-dpt__block__container__infos__title
            h2 Surdos
      
          .fazerparte-dpt__block__container__infos__text
            p Departamento inclusivo, voltado para deficientes surdos.
            
        // .fazerparte-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
