layout: index__white
name: Pr. Odilton Ângelo
---

section.prodiltonangelo
  .prodiltonangelo__header
    .prodiltonangelo__header__background
    .prodiltonangelo__header__block
      .prodiltonangelo__header__block__container
        .prodiltonangelo__header__block__container__col
          .prodiltonangelo__header__block__container__col__title
            h2 Pr. Odilton Ângelo
          .prodiltonangelo__header__block__container__col__text
            p Pastor, conferencista internacional. Formado em História e Teologia. Foi dirigente de várias filiais e atualmente é vice-presidente da ADVEC.
            
  .prodiltonangelo__text
    .prodiltonangelo__text__container
      p Desde 1996 o Pastor Odilton Ângelo tem se dedicado de forma integral ao Ministério Pastoral na Assembleia de Deus Vitoria em Cristo. Nascido no Espírito Santo, chegou ao Rio de Janeiro para viver um romper de Deus e enfrentar grandes desafios. Antes de se tornar pastor, dirigiu as filiais Avenida Meriti, Sereno e Rua Cem. Já no ano em que foi consagrado à pastor, recebeu a missão de dirigir a filial Aimoré, conhecida na época como Shalon, e permaneceu lá por onze anos. Depois, de 2008 à 2010, pastoreou a filial Méier onde inúmeras vidas passaram por ele e puderam ver sua fidelidade à Deus e o cuidado que tinha com as almas. 
      p Casado com a cantora Jozyanne e pai de Isabella e Manuella, Pastor Odilton e sua família mostram a fidelidade de Deus diante das lutas que enfrentaram. Muitas vezes as grandes vitórias que receberam se transformaram novas canções para que eles pudessem contar a todos os bons feitos do Senhor. Sua família se dedica a obra de Deus e está sempre disponível para servir com excelência. 
      p Pastor Odilton tem se destacado não só como Pastor, mas também como pregador da Palavra de Deus, ministrando em quase todos os estados do Brasil além de outros países ao redor do mundo. Ele mostra com sua vida como o posicionamento de um cristão se faz necessário nos dias de hoje sendo íntegro, justo e honesto, sem desviar os seus olhos do caminho e da vontade de Deus. 
      p Formado em História e Teologia, desde 2010, Pastor Odilton Ângelo é vice-presidente da ADVEC e tem colaborado de forma significativa para o crescimento deste ministério. Junto à essa missão, ele também tem cuidando das ovelhas do Senhor com amor e sempre ajudando quando necessário, atendendo com cautela e deixando uma palavra de conforto a todos os irmãos.