layout: index
name: Dízimos e Ofertas
---

section.oferta-title
  .oferta-title__block
    .oferta-title__block__container
      .oferta-title__block__container__col
        .oferta-title__block__container__col__title
          h1 Fé e liberalidade
          
        .oferta-title__block__container__col__text
          p Quem faz a história da Igreja é o povo. As obras, as novas Igrejas e os trabalhos sociais são frutos da fidelidade e liberalidade da Igreja.
        
        .oferta-title__block__container__col__button
          form(action="https://pagseguro.uol.com.br/checkout/v2/donation.html", method="post", target="_blank", id="pagseguro")
              input(type="hidden", name="currency", value="BRL")
              input(type="hidden", name="receiverEmail", value="tesouraria@advec.org")
              input(type="hidden", name="iot", value="button")
              a(onclick="document.getElementById('pagseguro').submit()", class="btn btn--blue-all") Ofertar Online
          a(href="#").btn.btn__popup--deposito#html-content Depósito Bancário

section.oft-paragraph
  .oft-paragraph__container
    .oft-paragraph__container__block
      h4 A oferta é um ato de voluntariedade, não obrigatório. Quem oferta entende o compromisso que tem com o Reino de Deus, ciente de que o Senhor fará abundantemente mais e que está plantando uma semente para colheitas abençoadas.
