// ==================================================
//
// Navbar
//
// ==================================================

.navbar
  transition all 0.3s
  flex(center, center, row)
  width 100%
  top 0
  position fixed
  z-index 5
  box-sizing border-box
  padding 15px 40px
  background-color white !important
  box-shadow 0 0 20px rgba(0, 0, 0, 0.1)
  

  &__container
    position relative
    z-index 1
    width 95%

    &__row
      flex(between, center, row)

      &__logo
        width 170px
        +below(520px)
          width 9rem

        .st0
          fill-rule evenodd
          clip-rule evenodd

        .st0
        .st1
        .st2
        .st3
          fill #000

      &__navbar
        align-items center

        &__items
          display flex
          justify-content center
          align-items center

          ul
            display flex
            justify-content flex-end
            padding 0
            margin 0
            display none
            +above(1050px)
              display flex

            li
              text-align center
              margin-right 35px
              transition 0.3s all

              &:hover
                opacity 1 !important

              &:last-child
                margin-right 0

              a
                color #000
                font-size .8em
                padding-top 20px
                padding-bottom 20px
                font-weight 500

  g 
    .text
      +below(520px)
        display none

/* menu hamburguer nav */

.megamenu
  display flex
  position fixed
  width 100%
  height 100%
  top 0
  color #000 !important
  background #fff
  z-index: 4
  justify-content center
  transition all 1s cubic-bezier(0.7, -0.02, 0, 1)
  transform translateY(-40%)
  opacity 0
  +above(1050px)
    display none

  +above(1200px)
    height 100%
    padding-bottom 5%

  &.appear
    opacity 0.98
    transform translateY(0%) !important

  &__container
    width $widthContainer

    &__block
      margin-top 90px
      position fixed
      overflow scroll
      width 85%
      height 73%
      +above(1200px)
        overflow hidden
        position relative
        width 100%

      &__list
        display flex
        justify-content space-between
        flex-direction column
        height 100%
        width 100%
        padding 0
        margin 0
        position absolute
        +above(760px)
          flex-direction row
          flex-wrap wrap

        +above(1200px)
          height auto
          flex-direction row
          position relative

        &__item
          display flex
          align-items center
          flex-direction column
          justify-content center

          h4
            display inline-block
            font-weight 500
            margin-top 2em

  &__white
    color #000 !important
    background linear-gradient(to bottom,  rgba(255,255,255,255.1) 0%,rgba(255,255,255,.9) 100%)
