layout: index__white
name: Pedido de Oração
---

section.pdo-form
  .pdo-form__container
    .pdo-form__container__title
      h1 Pedido de oração
      
    .pdo-form__container__form
      form(method="POST" action="https://formspree.io/oracao@advec.org")
        input(type="hidden" name="_subject" value="Novo Pedido de Oração")
        input(type="hidden" name="_next" value="//advec.org")
        input(type="text" name="nome" placeholder="Seu nome")
        textarea(name="pedidodeoracao" placeholder="Seu pedido...")
        button(type="submit") Enviar
