.ignicao__page
    background url("/assets/images/back/section/ignicao__home.png")
    background-size cover
    background-position center center
    display flex
    justify-content center
    align-items center
    height 100vh
    width 100%