//
// Section
//
// 1. Section
//
// ==================================================

//
// 1. Section
// --------------------------------------------------

.full
  align-items center
  box-sizing border-box
  display flex
  flex-direction column
  height 100vh
  justify-content center
  position relative
  overflow visible
  +above('sm')
    align-items center
    background-position center center
    display flex
    flex-direction row
    height 65vh
    justify-content center

  &__block
    background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
    display flex
    justify-content center
    align-items flex-end
    height 100%
    width 100%
    +above('sm')
      height 100%
      order 1

    &__container
      display flex
      align-items flex-end
      justify-content flex-start
      width 75%
      height 100%
      position relative
      margin-bottom 4em
      z-index 0
      +above('sm')
        align-items center
        width 80%
        margin-bottom 0

      &__col
        width 100%
        +above('sm')
          width 40%

        &__title
          color $white
          margin-bottom 2em
          text-align left

          h2
            font-weight 500

        &__text
          color $white
          margin-bottom 1em
          text-align left

        &__button
          text-align left
          +above('sm')
            text-align left

.double
  height 100vh
  box-sizing border-box
  flex(center, center, col)
  position relative
  overflow visible
  +above('sm')
    height 65vh
    flex(center, center, row)

  &__background
    height 35%
    width 100%
    +above('sm')
      height 100%
      order 1

  &__block
    background white
    flex(center, center, row)
    height 65%
    width 100%
    +above('sm')
      height 100%
      order 1

    &__container
      width 75%
      height auto
      position relative
      z-index 0
      +above('sm')
        width 60%

      &__col
        &__title
          color $gray-dark
          margin-bottom 2em

          h2
            font-weight 500

        &__text
          margin-bottom 1em

        &__button
          text-align left
          +above('sm')
            text-align left
