layout: index
---

header.swiper      
  .swiper__container
    .swiper__container__block
      .swiper__container__block__title
        h1 Somos Um
        
      .swiper__container__block__button
        a(href="/programacao/").btn.btn--white Novo por aqui?
        a(href="https://adv.ec/advec").btn.btn--aovivo Assista ao vivo
      
    .swiper-wrapper
      .swiper-slide(style="background-image: url('/assets/images/swipper/background__b.jpg')")

      .swiper-slide(style="background-image: url('/assets/images/swipper/background__a.jpg')")

      .swiper-slide(style="background-image: url('/assets/images/swipper/background__c.jpg')")

section.bemvindo
  .bemvindo__container
    .bemvindo__container__block
      .bemvindo__container__block__text
        h2 Seja bem-vindo, sua presença nos enche de alegria e satisfação.
      
      .bemvindo__container__block__button
        a(href="/filiais/").btn.btn--orange Nossas igrejas

section.teste
  .owl-carousel.owl-theme
    a(href="https://www.vitoriaemcristo.org/_gutenweb/_site/gw-inicial/")
      .item(style="background-image: url('/assets/images/item/jozy__background.jpg')")
        .cont

    a(href="http://www.editoracentralgospel.com/_gutenweb/_loja/pg_deptos_produtos.cfm?depto=6")
      .item(style="background: linear-gradient(to right, #ff5f6d, #ffc371);")
        .cont
          img(src="/assets/images/back/section/avec.png")

    a(href="http://eventos.vitoriaemcristo.org/_gutenweb/_site/eventos/fogo2017/index.cfm")
      .item(style="background-image: url('/assets/images/item/fogo.jpg')")
        .cont
    
    a(href="http://ustravel.com.br")
      .item(style="background-image: url('/assets/images/item/caravana.jpg')")
        .cont
          .title
            h2 Caravana

          .text
            p EM ABRIL DE 2018
            p Dubai - Jordânia - Israel

          .text-support
            p ustravel.com.br
          
section.full.prsilas
  .full__block
    .full__block__container
      .full__block__container__col
        .full__block__container__col__title
          h2 Pr. Silas Malafaia
        .full__block__container__col__text
          p Pastor presidente da ADVEC, casado com a Pra. Elizete Malafaia e voz profética levantada por Deus para esta nação.
        .full__block__container__col__button
          a(href="/pr-silas-malafaia/").btn.btn--white Conheça
          
section.double.ebd
  .double__background
  .double__block
    .double__block__container
      .double__block__container__col
        .double__block__container__col__title
          h2 Escola Bíblica Dominical.
        .double__block__container__col__text
          p Venha para a maior escola do mundo. Aprenda e proteja a sua família.
        .double__block__container__col__button
          a(href="/programacao/").btn.btn--red Nossa programação

section.full.batismo
  .full__block
    .full__block__container
      .full__block__container__col
        .full__block__container__col__title
          h2 Batismo: Um ato ordenado por Cristo. 
        .full__block__container__col__text
          p “Todo aquele que crê e for batizado, será salvo; mas quem não crer será condenado”. (Mc 16:16)” 
        .full__block__container__col__button
          a(href="/batismo/").btn.btn--white Seja um

section.double.fazerparte
  .double__background
  .double__block
    .double__block__container
      .double__block__container__col
        .double__block__container__col__title
          h2 Junte-se a Nós.
        .double__block__container__col__text
          p Faça parte do movimento para a Expansão do Reino de Deus. Temos departamento para todas as idades e estamos prontos para receber você.
        .double__block__container__col__button
          a(href="/fazer-parte/").btn.btn--black Fazer Parte

.popup.popup__deposito
  .popup__content
    .popup__content__close &times;
    .popup__content__list
      .popup__content__list__item
        h2 Itau
        p Agência: 0410
        p Conta: 74861-0
        
      .popup__content__list__item
        h2 Bradesco
        p Agência: 0663-7
        p Conta: 14866-0
        
section.full.oferta
  .full__block
    .full__block__container
      .full__block__container__col
        .full__block__container__col__title
          h2 Fé e liberalidade
        .full__block__container__col__text
          p Quem faz a história da Igreja é o povo. As obras, as novas Igrejas e os trabalhos sociais são frutos da fidelidade e liberalidade da Igreja. 
        .full__block__container__col__button
          form(action="https://pagseguro.uol.com.br/checkout/v2/donation.html", method="post", target="_blank", id="pagseguro")
              input(type="hidden", name="currency", value="BRL")
              input(type="hidden", name="receiverEmail", value="tesouraria@advec.org")
              input(type="hidden", name="iot", value="button")
              a(onclick="document.getElementById('pagseguro').submit()", class="btn btn--blue-all") Ofertar Online
          a.btn.btn--white.btn__popup--deposito Depósito bancário

section.oracao
  .oracao__container
    .oracao__container__col
      .oracao__container__col__title
        h2 Queremos orar por você.
      .oracao__container__col__text
          p Fique a vontade para fazer seu pedido. Nós vamos orar por você.
      .oracao__container__col__button
        a(href="/pedido-de-oracao/").btn.btn--black
          | Fazer pedido
