layout: index
---

header.swiper      
  .swiper__container
    .swiper-wrapper

      .swiper-slide(style="background-image: url('/assets/images/swipper/background__b.jpg')")
        .swiper-slide__infos
          .swiper-slide__infos__title
            h1 Somos Um

          .swiper-slide__infos__description
            p Seja bem vindo ao nosso site

          .swiper-slide__infos__button
            a(href="https://www.youtube.com/user/advitoriaemcristo").btn.btn--aovivo Assista Ao Vivo

section.bemvindo
  .bemvindo__container
    .bemvindo__container__block
      .bemvindo__container__block__text
        h2 Seja bem-vindo, sua presença nos enche de alegria e satisfação.
      
      .bemvindo__container__block__button
        a(href="/filiais/").btn.btn--orange Nossas igrejas

section.teste
  .owl-carousel.owl-theme
    a(href="http://eventos.vitoriaemcristo.org/_gutenweb/_site/eventos/eslavec2017/index.cfm")
      .item(style="background-image: url('/assets/images/item/eslavec.jpg')")
        .cont

    a(href="http://www.editoracentralgospel.com/_gutenweb/_loja/pg_deptos_produtos.cfm?depto=6")
      .item(style="background-image: url('/assets/images/item/ebd.jpg')")
        .cont
    
    a(href="http://ustravel.com.br")
      .item(style="background-image: url('/assets/images/item/caravana.jpg')")
        .cont
          .title
            h2 Caravana

          .text
            p EM ABRIL DE 2018
            p Dubai - Jordânia - Israel

          .text-support
            p ustravel.com.br
          
section.full.prsilas
  .full__block
    .full__block__container
      .full__block__container__col
        .full__block__container__col__title
          h2 Pr. Silas Malafaia
        .full__block__container__col__text
          p Pastor presidente da ADVEC, casado com a Pra. Elizete Malafaia e voz profética levantada por Deus para esta nação.
        .full__block__container__col__button
          a(href="/pr-silas-malafaia/").btn.btn--white Conheça
          
section.double.ebd
  .double__background
  .double__block
    .double__block__container
      .double__block__container__col
        .double__block__container__col__title
          h2 Escola Bíblica Dominical.
        .double__block__container__col__text
          p Venha para a maior escola do mundo. Aprenda e proteja a sua família.
        .double__block__container__col__button
          a(href="/programacao/").btn.btn--red Nossa programação

section.full.batismo
  .full__block
    .full__block__container
      .full__block__container__col
        .full__block__container__col__title
          h2 Batismo: Um ato ordenado por Cristo. 
        .full__block__container__col__text
          p “Todo aquele que crê e for batizado, será salvo; mas quem não crer será condenado”. (Mc 16:16)” 
        .full__block__container__col__button
          a(href="/batismo/").btn.btn--white Seja um

section.double.fazerparte
  .double__background
  .double__block
    .double__block__container
      .double__block__container__col
        .double__block__container__col__title
          h2 Junte-se a Nós.
        .double__block__container__col__text
          p Faça parte do movimento para a Expansão do Reino de Deus. Temos departamento para todas as idades e estamos prontos para receber você.
        .double__block__container__col__button
          a(href="/fazer-parte/").btn.btn--black Fazer Parte
        
section.full.oferta
  .full__block
    .full__block__container
      .full__block__container__col
        .full__block__container__col__title
          h2 Fé e liberalidade
        .full__block__container__col__text
          p Quem faz a história da Igreja é o povo. As obras, as novas Igrejas e os trabalhos sociais são frutos da fidelidade e liberalidade da Igreja. 
        .full__block__container__col__button
          form(action="https://pagseguro.uol.com.br/checkout/v2/donation.html", method="post", target="_blank", id="pagseguro", style="display: inline-block;")
              input(type="hidden", name="currency", value="BRL")
              input(type="hidden", name="receiverEmail", value="tesouraria@advec.org")
              input(type="hidden", name="iot", value="button")
              a(onclick="document.getElementById('pagseguro').submit()", class="btn btn--blue-all") &nbsp;&nbsp;Ofertar &nbsp;Online&nbsp;&nbsp; 

          a.btn.btn--white.btn__popup--deposito#oferta__contas Depósito bancário

section.oracao
  .oracao__container
    .oracao__container__col
      .oracao__container__col__title
        h2 Queremos orar por você.
      .oracao__container__col__text
          p Fique a vontade para fazer seu pedido. Nós vamos orar por você.
      .oracao__container__col__button
        a.btn.btn--black#oracao__form
          | Fazer pedido

// section.bar
  .bar__container
    .bar__container__title
      h3 Nosso aplicativo já está disponível para iOS e Android.

    .bar__container__button
      a(href="/batismo/").btn.btn--white Fazer download
