input
textarea
button
select
    font-family Gotham
    border none
    outline 0

.form
    &__oracao
        display flex
        flex-direction column
        width 100%

        input
            padding 20px
            margin-bottom 10px
            border-bottom 1px solid 

        textarea
            border-bottom 1px solid !important 
            padding 20px
            margin-bottom 10px