//
// Typography
//
// ==================================================

// Font Face
// --------------------------------------------------

@font-face
  font-family "Gotham"
  font-style normal
  font-weight 300
  src url("https://advec.netlify.com/assets/fonts/Gotham-Light.eot") format("eot"),
      url("https://advec.netlify.com/assets/fonts/Gotham-Light.ttf") format("ttf"),
      url("https://advec.netlify.com/assets/fonts/Gotham-Light.woff") format("woff")

@font-face
   font-family "Gotham"
   font-style normal
   font-weight 500
   src url("https://advec.netlify.com/assets/fonts/GothamMedium.eot") format("eot"),
       url("https://advec.netlify.com/assets/fonts/GothamMedium.ttf") format("ttf"),
       url("https://advec.netlify.com/assets/fonts/GothamMedium.woff") format("woff")

@font-face
  font-family "Gotham"
  font-style normal
  font-weight bold
  src url("https://advec.netlify.com/assets/fonts/Gotham-Bold.eot") format("eot"),
      url("https://advec.netlify.com/assets/fonts/Gotham-Bold.ttf") format("ttf"),
      url("https://advec.netlify.com/assets/fonts/Gotham-Bold.woff") format("woff")

font-family(family)
  if (family == gotham)
    font-family 'Gotham', Georgia, Cambria,"Times New Roman", Times