layout: index__white
name: Pedido de Oração
---

section.pdo-header
    .pdo-header__container
        .pdo-header__container__block
            .pdo-header__container__block__title
                h1 Estamos orando por você.

            .pdo-header__container__block__text
                p Peçam, e lhes será dado; busquem, e encontrarão; batam, e a porta lhes será aberta. Pois todo o que pede, recebe; o que busca, encontra; e àquele que bate, a porta será aberta. (Mt 7 7:8)